.stone-image {
    height: 287.52px;
    width: 180px;
}

body {
    background-color: indigo;
}

.card {
    background-color: goldenrod;
    margin-bottom: 25px;
}

.jumbotron {
    margin-top: 25px;
}